/*
   J Stu
   Hw 9 Updated Portfolio 2019
   UTexas PTF Coding Bootcamp
*/

html, body {
   /*background and default properties*/
   line-height: 1.9;
   background:#48a59a;
   font-family: 'Stylish', sans-serif;
   color: lightgreen;
   background-image: url("../images/background/background2.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   
}



a {
   color: lightgreen;
}
 
footer {
   font-family: 'Stylish', sans-serif;
   margin-top: 5%;
   text-align: center;
   font-size: 120%;
   color: lightgreen;
   align-items: center;
}
 
 /*Classes*/

 .navbar-brand {
   color: lightgreen
 }

 .header{
   /*common header properties*/
   background-color: transparent;
   font-family: 'Stylish', sans-serif;
   margin-bottom: 30px;
   color:lightgreen;
   font-size: 169%;
 }

 .card-text {
   background: rgba(119,77,102,0.7);
 }
 .card-title {
    font-size: bold;
 }
 /*IDs*/
 #selProj {

   background: rgba(119,77,102,0.7);
   color:lightgreen;
   text-align: center;
   font-family: 'Stylish', sans-serif;
   margin-bottom: 3%;

 }
 
 #bioImage{
   width: 200px;
   float: left;
   margin-right: 20px;
   opacity: 1;
 }

 #bioBox{
     font-family: 'Stylish', sans-serif;
     margin-top: 6%;
     margin-bottom: 6%;
     background: rgba(119,77,102,0.7);
     color: lightgreen;
 }

 #details{
   background: rgba(119,77,102,0.7);
   color:lightgreen;
   text-align: center;
   font-family: 'Stylish', sans-serif;

 }
 

   @media (max-width: 599px) {  
 };
   @media (min-width: 600px) { 
 };
   @media (min-width: 900px) {
 };
   @media (min-width: 1200px) { 
 };
   @media (min-width: 1800px) {
 };